{{#each modes}}
  <div class="container">
    <div class="group" data-name="{{id}}">
      <div class="flex-rows">
        <div class="left">
          <h2><a href="#{{id}}" id="{{id}}" class="anchor">{{name}}</a></h2>
          <button class="run">
            Run
            <span class="icon">
              <svg class="icon"><use xlink:href="#run"></use></svg>
            </span>
          </button>
        </div>
        <div class="description">
          {{#each description}}
            <p class="{{cssClass}}">
              {{text}}
            </p>
          {{/each}}
        </div>
      </div>
      <div class="editor"></div>
      {{#if (isCustom id)}}
        <div class="flex-rows">
          <canvas
            id="my-canvas"
            style="width: 100%; height: 380px; max-width: 1000px"
            class="custom-canvas"
          ></canvas>
        </div>
      {{/if}}
    </div>
  </div>
{{/each}}